.white-box {
    background-color: white;
    color: black;
	border:1px solid white;
	border-top:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-left:1px solid white;
    <!--other positioning attributes-->
}

table {
  border-collapse:collapse;
}

.td {
	border:1px solid WhiteSmoke; 
	border-width:10px 10px 1px 0px;
}

tr {
	border-bottom: solid 5px WhiteSmoke;
}

.mydiv1
	position: absolute;
	top: 150px;
}
.mydiv2
	position: absolute;
	top: 200px;
}
.mydiv3
	position: absolute;
	top: 250px;
}

#box {    
	width:250px; 
	height:300px;    
	filter:alpha(opacity=60);    
	opacity:0.3;    
	margin-top:100px;    
	margin-left:50px;    
	background:#fff;    
	border:1px WhiteSmoke solid;    
	padding:20px;    
	font-size:14px;    
	line-height:170%;}