
table {
  border-collapse:collapse;
}

.td {
	border:1px solid WhiteSmoke; 
	border-width:10px 10px 1px 0px;
}




tr {
	border-bottom: solid 1px WhiteSmoke;
}




#box {    
	width:250px; 
	height:150px;    
	filter:alpha(opacity=60);    
	opacity:0.3;    
	/* margin-top:50px;    
	margin-left:20px;   */ 
	background:#fff;    
	border:1px WhiteSmoke solid;    
	padding:20px;    
	font-size:14px;    
	line-height:170%;}

body{
	background-size: auto;
}